<nav>
    <ul class="headerLinks">
        <li><a href="/">Home</a></li>
        <li><a href="/productListing">Meal Packages</a></li>
        <li><a href="/"><img src="/img/logo.png" class="logo"></a></li>

        {{#if user}}
        <li><a href="/user/dashboard">Dashboard</a></li>
        <li><a href="/user/Logout">Logout</a></li>
        {{else}}
        <li><a href="/user/register">Register</a></li>
        <li><a href="/user/login">Login</a></li>
        {{/if}}

    </ul>
</nav>