<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text&family=Montserrat:wght@400;500&display=swap"
        rel="stylesheet" />
</head>

<body>
    <div class="container">
        {{!-- <nav>
            <ul class="headerLinks">
                <li><a href="/">Home</a></li>
                <li><a href="/productListing">Meal Packages</a></li>
                <li><a href="/"><img src="/img/logo.png" class="logo"></a></li>

                {{#if user}}
                <li><a href="#">Register</a></li>
                <li><a href="/user/Logout">Logout</a></li>
                {{else}}
                <li><a href="/user/register">Register</a></li>
                <li><a href="/user/login">Login</a></li>
                {{/if}}

            </ul>
        </nav> --}}
        {{> nav}}
        <header>
            <h1>{{slogan}}</h1>
        </header>
    </div>
    <main>
        {{{body}}}
    </main>
    <footer>
        <p>
            Copyright © Fall 2020, Emma Forrester, WEB322NAA
        </p>
    </footer>
</body>

</html>