<div class="shopwrap">
    <div class="shopitem">
        <div class="shopleft">
            <h2>Item Name</h2>
        </div>
        <div class="shopright">
            <h3>13.99</h3>
        </div>
        <div class="shopdesc">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
        </div>
    </div>
    <div class="shopitem">
        <div class="shopleft">
            <h2>Item Name</h2>
        </div>
        <div class="shopright">
            <h3>13.99</h3>
        </div>
        <div class="shopdesc">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
        </div>
    </div>
    <div class="shopbuy">
        <button>BUY</button>
        <h3 class="total">$99.99</h3>
    </div>
</div>