<h2 class="meals-h3">Hello {{users.FirstName}} {{users.LastName}}</h2>
{{#if users.isAdmin}}
<div class="menuWrapper">
    <ul id="menu">
        <li><a href="/user/createmeals">Create Meal</a></li>
        <li><a href="/user/editmeals">Edit Meal</a></li>
        <li><a href="/user/viewmeals">View Meals</a></li>
    </ul>
</div>
{{/if}}

<a href="/user/cart">
    <div class="cart-wrapper">
            <h4 class="cart-link">Shopping Cart ({{cartItemsQty}})</h4>
    </div>
</a>


<div class="wrapper">
    <div class="dbdiv">
        <h3>Your Recent Meals</h3>
        <div class="mealdiv">
            {{!-- Photo by Ella Olsson from Pexels --}}
            <div class="imgdiv1"><img id="dbimg1"
                    src="https://images.pexels.com/photos/1640777/pexels-photo-1640777.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                    alt="plate of salad on a table">
                <p>Salad with Quinoa and Carrots</p>
            </div>
            {{!-- Photo by kei photo from Pexels --}}
            <div class="imgdiv1"><img id="dbimg2"
                    src="https://images.pexels.com/photos/2741448/pexels-photo-2741448.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                    alt="plate of chicken sitting on a rack">
                <p>Healthy Chicken and Rice</p>
            </div>
            <div class="imgdiv1"><img id="dbimg3"
                    src="https://images.pexels.com/photos/842142/pexels-photo-842142.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                    alt="plated salmon and peppers">
                <p>Salmon and Vegetables</p>
            </div>
            {{!-- Photo by Lily Banse from Unsplash --}}
            <div class="imgdiv1"><img id="dbimg4"
                    src="https://images.unsplash.com/photo-1504674900247-0877df9cc836?ixlib=rb-1.2.1&auto=format&fit=crop&w=2850&q=80"
                    alt="steak and meat">
                <p>Seared Steak and Sides</p>
            </div>
        </div>
    </div>
</div>