<article class = "login"> 
    <h2>Customer Login</h2>
    <form action="" method="" class="login-form">
     <label for="input-email">
        Email:
    </label>    
    <input
        id="input-email"
        type="email"
        placeholder="Email"
        required
    />
    <label for="input-password">
        Password:
    </label>
    <input 
        id="input-password"
        type="password"
        placeholder="Password"
        required
    />
        <input id="login-button" type="submit" value="Login"/>
        <a href="/">Forgot password?</a>
    </form>
</article>