<article class = "register"> 
    <h2>Register for Food Delivery</h2>
    <form action="" method="" class="register-form">
    <label for "FirstName">
        First Name:
    </label>
    <input
        type = "text"
        id="FirstName"
        name="FirstName"
        placeholder="First Name"
        minlength="2"
        required
        />
    <label for "LastName">
        Last Name: 
    </label>
    <input
        type = "text"
        id="LastName"
        name="LastName"
        placeholder="Last Name"    
        minlength="2"
        required

     <label for="input-email">
        Email:
    </label>    
    <input
        id="input-email"
        type="email"
        placeholder="Email"
        required
    />
    <label for="input-password">
        Password:
    </label>
    <input 
        id="input-password"
        type="password"
        placeholder="Password"
        required
    />
        <input id="register-button" type="submit" value="Sign Up"/>

    </form>
</article>