/*Home Page*/
html, body {
    font-family: 'Montserrat', sans-serif; 
    padding: 0; 
    margin: 0; 
}
main {
    padding-bottom: 60px; 
}
/*Nav Bar*/
.logo {
    width: 100px; 
    height: 100px; 
}
ul {
    display: flex; 
    flex-direction: row; 
    list-style: none; 
    justify-content: space-around; 
    align-items: center; 
}
a {
    text-decoration: none; 
    color: #283618; 
}
a:hover {
    text-decoration: underline; 
    color: #606c38; 
}
/*Header*/
header {
    /*image from unsplash by Dan Gold*/
    background-image: url('/img/header.jpg');
    background-position: center;
    background-size: cover;
  
    margin-bottom: 50px;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 50px; 
    text-shadow: 4px 4px 4px #5b6658;
    color: white;
}
/*Footer*/
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color:white; 
    font-weight: 400;
    width: 100%;
    padding: 50px 0;
    background-color: #249e8e;  
 }
 /*Index*/
 .index-container {
    width: 100%;
    padding: 0 5%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}
.index-container h3 {
    color: #283618; 
    font-size: 30px;
}
.index-container img {
    height: 500px; 
    width: 600px; 
}
/* index: top meals */
#topmeals {
    width: 100%;
    padding: 0 5%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    background-color: #eaf6f4;
}
/* cards */
.cards {
    width: 100%;
    padding: 0 5%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 80px;
    grid-row-gap: 50px;
    text-align: center; 
}
img {
    width: 100%; 
}
.item {
    display: block;
    font-size: 20px;
    color: black;
    font-weight: bold;
  }
.synopsis {
    display: block;
    font-size: 15px; 
    color: rgb(82, 82, 82);
    align-content: center; 
    padding: 5px; 
}
.category{
    display: block;
    font-size: 14px;
  }
/* Registration and login */
h2 {
    text-align: center; 
}
form {
    display: flex; 
    flex-direction: column; 
    justify-content: space-around; 
    align-items: center; 
}
form input {
    padding: 5px; 
    margin:5px;
}
.errors {
    font-size: 12px; 
    display: flex; 
    flex-direction: column; 
    justify-content: space-around; 
    align-items: center; 
    color: red; 
}
/* dashboard  */
#dbimg {
    width: 500px; 
    height: 300px; 
}
.dbdiv h3 {
    font-size: 50px; 
}
.meals-h3 {
    font-size: 60px; 
}
.mealdiv {
    width: 100%;
    padding: 0 5%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 50px;
    text-align: center; 
}
h3 {
    text-align: center; 
}
/* shopping cart  */
.shopwrap h3 {
    margin: 0px; 
    text-align: right; 
}
.shopitem {
    width: 80%;
    height: 100%;
    margin: 0 auto 20px;  
    padding: 10px;
    border: 1px solid #c9c9c9; 
  }
.shopitem h2 {
    margin: 0px; 
    text-align: left; 
}
  .shopleft {
    width: 15%;
    height: 100%;
    float: left;
}  
  .shopright {
    margin-left: 15%;
    height: 100%;
}
/* buy */
.shopbuy {
    margin: auto; 
    width: 80%;
    height: 100%;
    padding: 10px;
    display: flex; 
    align-items: center;
    border: 1px solid #c9c9c9;     
}
.buybutton {
    width: 15%;
    height: 100%;
    float: left;
}
.total {
    text-align: right; 
    height: 100%;
    width: 200px; 
    padding-left: 80%; 
}
button {
    text-decoration: none;
    background: #249e8e;
    color: white; 
    font-size: 20px; 
    padding: 20px;
    border-radius: 50px;
    display: inline-block;
    border: none;
}

/* responsive design  */
/* phone landscape and smaller  */

@media all and (max-width: 568px) {
    header {
        height: 180px; 
        width: 100%; 
        font-size: 15px; 
        text-align: center; 
    }
    .logo {
        width: 50px; 
        height: 50px; 
    }

    h2 {
        font-size: 14px; 
    }
    ul {
        display: flex; 
        flex-direction: row; 
        list-style: none; 
        justify-content: space-around; 
        align-items: center; 
        font-size: 12px; 
        padding: 0px; 
    }
    .index-container {
        width: 100%;
        padding: 0 3%;
        box-sizing: border-box;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
    }
    .index-container h3 {
        color: #283618; 
        font-size: 12px; 
    }
    .index-container img {
        height: 300px; 
        width: 100%; 
    }
    /* cards  */
    .cards {
        width: 100%;
        padding: 0 5%;
        box-sizing: border-box;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
    }
    .card span {
        font-size: 15px; 
    }
    .card img {
        width: 350px; 
        height: 200px; 
    }
    #topmeals {
        grid-template-columns: repeat(1, 1fr);
    }
    #topmeals img {
        width: 350px; 
        height: 200px; 
    }

    footer {
        font-size: 10px; 
        text-align: center; 
    }
    .errors {
        font-size: 10px; 
    }
}

/* horizontal  */
@media all and (min-width: 480px) and (max-width: 768px) {
    header {
        height: 180px; 
        width: 100%; 
        font-size: 20px; 
        text-align: center; 
    }
    h2 {
        font-size: 17px; 
    }
    ul {
        display: flex; 
        flex-direction: row; 
        list-style: none; 
        justify-content: space-around; 
        align-items: center; 
        font-size: 15px; 
        padding: 0px; 
    }
    .index-container {
        width: 100%;
        padding: 0 3%;
        box-sizing: border-box;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
    }
    .index-container h3 {
        color: #283618; 
        font-size: 12px; 
    }
    .index-container img {
        height: 300px; 
        width: 100%; 
    }
    #topmeals img {
        width: 200px; 
        height: 100px; 
    }
    /* cards  */
    .cards {
        width: 100%;
        padding: 0 5%;
        box-sizing: border-box;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
    }

    .card span {
        font-size: 12px; 
    }
    .card img {
        width: 100%; 
        height: 200px; 
    }
    footer {
        font-size: 12px; 
        text-align: center; 
    }
    .errors {
        font-size: 10px; 
    }
}