/*Home Page*/
html,
body {
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
}

main {
    padding-bottom: 60px;
}

/*Nav Bar*/
.logo {
    width: 100px;
    height: 100px;
}

ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
    align-items: center;
}

a {
    text-decoration: none;
    color: #283618;
}

a:hover {
    text-decoration: underline;
    color: #606c38;
}

/*Header*/
header {
    /*image from unsplash by Dan Gold*/
    background-image: url('/img/header.jpg');
    background-position: center;
    background-size: cover;

    margin-bottom: 50px;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 50px;
    text-shadow: 4px 4px 4px #5b6658;
    color: white;
}

/*Footer*/
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 400;
    width: 100%;
    padding: 50px 0;
    background-color: #249e8e;
}

/*Index*/
.index-container {
    width: 100%;
    padding: 0 5%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}

.index-container h3 {
    color: #283618;
    font-size: 30px;
}

.index-container img {
    height: 500px;
    width: 600px;
}

/* index: top meals */
#topmeals {
    width: 100%;
    padding: 0 5%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

/* cards */
.cards {
    width: 100%;
    padding: 0 5%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 80px;
    grid-row-gap: 50px;
    text-align: center;
}

img {
    width: 100%;
}

.item {
    display: block;
    font-size: 20px;
    color: black;
    font-weight: bold;
}

.synopsis {
    display: block;
    font-size: 15px;
    color: rgb(82, 82, 82);
    align-content: center;
    padding: 5px;
}

.category {
    display: block;
    font-size: 14px;
}

.buyButton {
    width: 150px;
    margin: 10px;

    text-decoration: none;
    background: #249e8e;
    color: white;
    font-size: 20px;
    padding: 15px;
    border-radius: 50px;
    display: inline-block;
    border: none;
}

/* Registration and login */
h2 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

form input {
    padding: 5px;
    margin: 5px;
}

.errors {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: red;
}

/* dashboard  */
#dbimg {
    width: 500px;
    height: 300px;
}

.dbdiv h3 {
    font-size: 50px;
}

.meals-h3 {
    font-size: 60px;
}

.mealdiv {
    width: 100%;
    padding: 0 5%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 50px;
    text-align: center;
}

.cart-wrapper {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #249e8e;
}

.cart-link {
    color: white;
    text-decoration: none;
}

.cart-link:hover {
    text-decoration: underline;
}

h3 {
    text-align: center;
}




.menuWrapper {
    background-color: #d5e8e5;
    /* border-radius: 50px; */
}

#menu {
    font-size: 30px;
}

/* shopping cart  */

.shopitem, .shopbuy {
    width: 80%;
    height: 100%;
    margin: 0 auto 20px;
    padding: 10px;
    border: 1px solid #c9c9c9;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* buy */

.shop-meal {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding-left: 30px;
}
.shop-meal h2 {
    text-align: left;
    margin: 20px 0 5px;
}
.shop-meal p {
    margin: 0 0 20px;    
}
.shop-price {
    width: 10%;
}

.buycartbutton {
    width: 180px;
    height: 100%;
}
.buycartbutton:hover {
    background-color: orange;
    cursor: pointer;
}

.total {
    height: 100%;
    width: 200px;
}

.cart-submit {
    text-decoration: none;
    background: #249e8e;
    color: white;
    font-size: 20px;
    padding: 20px;
    border-radius: 50px;
    display: inline-block;
    border: none;
}
.cart-submit:hover {
    background-color: orange;
    cursor: pointer;
}

/* meal list  */
.item-name {
    width: 100%;
    padding-bottom: 2%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
}

/* create meals form */
.tpg-cont {
    display: flex;
    flex-direction: column;
    padding: 25px 0;
}

/* unique meal listing */
.meal-template {
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #249e8e;
}

.meal-banner {
    /* height: 100px; */
    width: 100%;
    filter: grayscale(100%);
    display: block;
    transition: filter 0.5s;
}

.meal-template:hover .meal-banner {
    filter: grayscale(0%);    
}

.meal-title {
    font-size: 2.3em;
    color: white;
    margin: 30px 0 15px;
    text-align: center;
}

.meal-contains {
    font-size: 1.2em;
    color: orange;
    margin: 0 0 15px;

}
.separator {
    width: 80%;
    border-top: 2px solid white;
    margin-bottom: 15px;
}

.meal-description {
    text-align: center;
    width: 70%;
    font-size: 1.3em;
}

.meal-details-wrapper {
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    border: 2px solid white;
    margin: 40px 0 35px;
}

.det-subtitles {
    color: white;
    font-size: 1em;
    text-align: center;
    margin: 15px 0 5px;
}
.det-content {
    color: orange;
    font-size: 1.4em;
    font-weight: bold;
    text-align: center;
}

.meal-submit {
    width: 200px;
    background-color: white;
    color: #249e8e;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
    border: none;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 40px;
}

.meal-submit:hover {
    cursor: pointer;
    color: orange;
}

/* responsive design  */
/* phone landscape and smaller  */

@media all and (max-width: 568px) {
    header {
        height: 180px;
        width: 100%;
        font-size: 15px;
        text-align: center;
    }

    .logo {
        width: 50px;
        height: 50px;
    }

    h2 {
        font-size: 14px;
    }

    ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        justify-content: space-around;
        align-items: center;
        font-size: 12px;
        padding: 0px;
    }

    .index-container {
        width: 100%;
        padding: 0 3%;
        box-sizing: border-box;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
    }

    .index-container h3 {
        color: #283618;
        font-size: 12px;
    }

    .index-container img {
        height: 300px;
        width: 100%;
    }

    /* cards  */
    .cards {
        width: 100%;
        padding: 0 0;
        box-sizing: border-box;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }

    .card span {
        font-size: 15px;
    }

    .card img {
        width: 100%;
        height: 200px;
    }

    #topmeals {
        grid-template-columns: repeat(1, 1fr);
    }

    #topmeals img {
        width: 350px;
        height: 200px;
    }

    footer {
        font-size: 10px;
        text-align: center;
    }

    .errors {
        font-size: 10px;
    }

    /* dashboard  */
    #dbimg {
        width: 250px;
        height: 150px;
    }

    .dbdiv h3 {
        font-size: 25px;
    }

    .meals-h3 {
        font-size: 20px;
    }

    .mealdiv {
        width: 100%;
        padding: 0 5%;
        box-sizing: border-box;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 40px;
        text-align: center;
    }

    #menu {
        font-size: 15px;
    }

    .buyButton {
        font-size: 15px;
        margin: 20px 10px 25px;
        padding: 10px;
    }
    .item-name {
        margin-bottom: 20px;
    }

    .meal-template {
        width: 100%;
    }

    .meal-details-wrapper {
        width: 95%;
    }

    .shopitem {
        padding: 0px;
        width: 92%;
    }

    .shop-meal {
        padding-left: 5px;
        width: 68%;
    }

    .shop-price {
        width: 23%;
    }

    .shopbuy {
        width: 92%;
        display: flex;
        flex-direction: column-reverse;
        padding: 0px;
    }

    .cart-submit {
        margin-bottom: 30px;
    }
}



/* horizontal  */
@media all and (min-width: 480px) and (max-width: 768px) {
    header {
        height: 180px;
        width: 100%;
        font-size: 20px;
        text-align: center;
    }

    h2 {
        font-size: 17px;
    }

    ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        justify-content: space-around;
        align-items: center;
        font-size: 15px;
        padding: 0px;
    }

    .index-container {
        width: 100%;
        padding: 0 3%;
        box-sizing: border-box;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
    }

    .index-container h3 {
        color: #283618;
        font-size: 12px;
    }

    .index-container img {
        height: 300px;
        width: 100%;
    }

    #topmeals img {
        width: 200px;
        height: 100px;
    }

    /* cards  */
    .cards {
        width: 100%;
        padding: 0 5%;
        box-sizing: border-box;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
    }

    .card span {
        font-size: 12px;
    }

    .card img {
        width: 100%;
        height: 200px;
    }

    footer {
        font-size: 12px;
        text-align: center;
    }

    .errors {
        font-size: 10px;
    }

    /* dashboard */
    #dbimg {
        width: 80%;
        height: 50%;
    }

    .dbdiv h3 {
        font-size: 25px;
    }

    .meals-h3 {
        font-size: 30px;
    }

    .mealdiv {
        width: 100%;
        padding: 0 5%;
        box-sizing: border-box;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 50px;
        text-align: center;
    }

    #menu {
        font-size: 25px;
    }
}